files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDH8yb1IGbLc6LEI28qHbuoxgNcFrfuL6T0QTAPl37+LaLEIQphpqWLzeDKBZf1yY94/pdvdslUYq+CxpgDzymCvUvlgbrgzD+kLoJ1XcHnlaIQ/9bYs5ijri5mvqBiQHr3jG8CZRqko4a7IHv4RRagYQjwkUMsunAdc/1GHtsvtVWukYinr/lmCfIXjUAdEAqDj99GEgspW7aLcszrAdaPaPKhAoGNgCrk8p4/h/rH2qGvMgamiO8JFR59a3Q2Ikov/5OdpHwRkyQ6EVJRAoApvJfh/WDI8F6sddespXB0wba54vNmwhKsunXy++UDwIeYaTGuAMT96URGVinyg1It dhmorris@gmail.com

      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDmr2B0tp6TzIGmFd2EzzZnhzGYj67fUh5wR34SBjPZFtAuC+JgiHLf7Tzlu8adia2+1E+MW44ZvtEIbhWKJVP5kdYi1Smth8jAUDuwYAgoPUkgX7S9Uc+ElcSFpmdChaY6svXSgayOAEHpuEm1XiTb1nDhxpDz5/n50dfNf77oL9ulf+8TDNIYNVsuHTnPo5PSIEB62XEoSypLYOmtaDE5aNxFeJLVYSCjw045edDyiBgKg1bQ8PfybqwQ/ACWRgJ35YiDIgUjsqBJlhJQzanTUjgZ+ePnQAzoFTfAEnGqZF8p4g/LwdIriSKQLPePsFOLhGtxb9zW71+N0JPPnGFD justinanthonylennox@gmail.com
